html :-webkit-any(code, samp, pre) {
  font-size: 0.94em;
}

@supports (font-variation-settings: normal) {
  html :-webkit-any(code, samp, pre) {
    font-family: "Courier Prime", "Courier New";
  }
}

@supports not (font-variation-settings: normal) {
  html :-webkit-any(code, samp, pre) {
    font-family: "Courier Prime", "Courier New";
  }

  html.ios :-webkit-any(code, samp, pre) {
    font-family: "Courier Prime", "Courier New";
  }
}
